// footer.scss

.footer {
  background-color: #1be0b5; /* Green background color */
  color: #fff; /* Text color */
  padding: 10px 0; /* Add padding for better spacing */
}

.text-center {
  text-align: center; /* Center-align text */
}
